In [1]:
with open ('One.txt') as one:
    words_1=one.read().lower().split()
    print(words_1)

['this', 'is', 'a', 'story', 'about', 'dogs', 'our', 'canine', 'pets', 'dogs', 'are', 'furry', 'animals']

In [2]:
with open('Two.txt') as two:
    words_2=two.read().lower().split()
    print(words_2)

['this', 'story', 'is', 'about', 'surfing', 'catching', 'waves', 'is', 'fun', 'surfing', 'is', 'a', 'popular', 'water', 'sport']

In [3]:
uni_1=set(words_1)
uni_2=set(words_2)
uniqe_words=set()
uniqe_words.update(uni_1)
uniqe_words.update(uni_2)
uniqe_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [4]:
all_vocab=dict()
i=0

for word in uniqe_words:
    all_vocab[word]=i
    i+=1

all_vocab

{'a': 0,
 'furry': 1,
 'story': 2,
 'popular': 3,
 'dogs': 4,
 'catching': 5,
 'canine': 6,
 'are': 7,
 'is': 8,
 'pets': 9,
 'fun': 10,
 'animals': 11,
 'our': 12,
 'water': 13,
 'about': 14,
 'this': 15,
 'waves': 16,
 'surfing': 17,
 'sport': 18}

In [5]:
uniqe_words=list(uniqe_words)
uniqe_words

['a',
 'furry',
 'story',
 'popular',
 'dogs',
 'catching',
 'canine',
 'are',
 'is',
 'pets',
 'fun',
 'animals',
 'our',
 'water',
 'about',
 'this',
 'waves',
 'surfing',
 'sport']

In [6]:
frq_one=[0]*len(uniqe_words)

for word in words_1:
    word_ind=all_vocab[word]
    frq_one[word_ind]+=1

frq_one

[1, 1, 1, 0, 2, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0]

In [16]:
frq_two=[0]*len(uniqe_words)

for word in words_2:
    word_ind=all_vocab[word]
    frq_two[word_ind]+=1

frq_two

[1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 3, 2, 0, 1, 0, 0, 1, 1, 1]

In [17]:
import pandas as pd
pd.DataFrame(data=[frq_one , frq_two] , columns=uniqe_words)

   fun  popular  waves  catching  about  ...  dogs  furry  sport  story  a
0    0        0      0         0      1  ...     2      1      0      1  1
1    1        1      1         1      1  ...     0      0      1      1  1

[2 rows x 19 columns]