In [1]:
import sqlite3
#creat DB & create cursor
new_connection=sqlite3.connect('test_data.db')
new_cursor=new_connection.cursor()

In [10]:
# create table
# data type : text| null| integer| real| blob
new_cursor.execute('CREATE TABLE students( id int NOT NULL,name varchar(50),number int);')

In [11]:
# insert one record
new_cursor.execute("INSERT INTO clients VALUES (1 , 'ziba' , 35);")

In [2]:
#commit our command
new_connection.commit()

In [34]:
# insert many record into the table
many_customers= [(2 , 'hasan' , 3),
                 (3 , 'mohammad' , 37),
                 (4 , 'rezvan' , 10)
                ]
new_cursor.executemany("INSERT INTO clients VALUES(?,?,?)", many_customers)
new_connection.commit()

In [30]:
new_cursor.execute("SELECT * FROM clients;")

In [15]:
#fetchone()
#fetchmany(3)
#fetchall()
new_cursor.fetchmany(2)

[(1, 'ziba', 35), (2, 'hasan', 3)]

In [3]:
items=new_cursor.fetchall()
for item in items:
    print(item[1])

ziba
hasan
mohammad
rezvan
narges
zahra

In [4]:
new_cursor.execute("SELECT rowid , * FROM clients;")
items=new_cursor.fetchall()
for item in items:
    print(item)

(1, 1, 'ziba', 35)
(2, 2, 'hasan', 3)
(3, 3, 'mohammad', 37)
(4, 4, 'rezvan', 10)
(5, 2, 'narges', 47)
(7, 4, 'zahra', 20)

In [37]:
# serching in table
new_cursor.execute("SELECT * FROM clients WHERE name LIKE 're%';")
iteems=new_cursor.fetchall()
for item in iteems:
    print(item)

(4, 'rezvan', 10)
(4, 'rezvan', 10)
(4, 'rezvan', 10)

In [38]:
# update record
new_cursor.execute("UPDATE clients SET name= 'zahra' WHERE number=10;")
new_connection.commit()
new_cursor.execute("SELECT * FROM clients;")
iteeems=new_cursor.fetchall()
for item in iteeems:
    print(item)

(1, 'ziba', 35)
(2, 'hasan', 3)
(3, 'mohammad', 37)
(4, 'zahra', 10)
(2, 'hasan', 3)
(3, 'mohammad', 37)
(4, 'zahra', 10)
(2, 'hasan', 3)
(3, 'mohammad', 37)
(4, 'zahra', 10)

In [48]:
# update record based on rowid
new_cursor.execute("UPDATE clients SET number=20 WHERE rowid=7;")
new_connection.commit()
new_cursor.execute("SELECT rowid, * FROM clients;")
iteeems=new_cursor.fetchall()
for item in iteeems:
    print(item)

(1, 1, 'ziba', 35)
(2, 2, 'hasan', 3)
(3, 3, 'mohammad', 37)
(4, 4, 'rezvan', 10)
(5, 2, 'narges', 47)
(7, 4, 'zahra', 20)

In [43]:
#delet record based on rowid
new_cursor.execute("DELETE FROM clients WHERE rowid=6;")
new_connection.commit()
new_cursor.execute("SELECT rowid, * FROM clients;")
iteeems=new_cursor.fetchall()
for item in iteeems:
    print(item)

(1, 1, 'ziba', 35)
(2, 2, 'hasan', 3)
(3, 3, 'mohammad', 37)
(4, 4, 'rezvan', 10)
(5, 2, 'narges', 3)
(7, 4, 'zahra', 10)

In [50]:
# query the database - ORDER BY
new_cursor.execute("SELECT rowid, * FROM clients ORDER BY number DESC;")#ASC
items=new_cursor.fetchall()
for item in items:
    print(item)

(5, 2, 'narges', 47)
(3, 3, 'mohammad', 37)
(1, 1, 'ziba', 35)
(7, 4, 'zahra', 20)
(4, 4, 'rezvan', 10)
(2, 2, 'hasan', 3)

In [15]:
# query the database - AND
new_cursor.execute("SELECT * FROM clients WHERE name LIKE 'zi%' AND number=35;")
items= new_cursor.fetchall()
for item in items:
    print(item)

(1, 'ziba', 35)

In [19]:
# query the database - OR
new_cursor.execute("SELECT rowid, * FROM clients WHERE name LIKE 'ha%' OR number=47;")
items=new_cursor.fetchall()
for item in items:
    print(item)

(2, 2, 'hasan', 3)
(5, 2, 'narges', 47)

In [21]:
# query the database - LIMIT
new_cursor.execute("SELECT rowid, * FROM clients ORDER BY name DESC LIMIT 2;")
items=new_cursor.fetchall()
for item in items:
    print(item)

(1, 1, 'ziba', 35)
(7, 4, 'zahra', 20)